<div class="toogle-group">
  <mat-button-toggle-group [value]="areaSelected" [disabled]="disabled">
    <mat-button-toggle *ngFor="let jobByArea of jobsByArea" [value]="jobByArea.value" (change)="onAreaChange($event.value)">
      {{jobByArea.name}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="toogle-group">
  <mat-button-toggle-group [value]="jobTitleSelected" vertical="true" (change)="onJobTitleChange($event.value)" [disabled]="disabled">
    <mat-button-toggle *ngFor="let jobTitle of jobTitlesSelected" [value]="jobTitle.value">
      {{jobTitle.name}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div *ngIf="showTip">
  <span>Tip Rate:</span>
  <mat-slider color="primary" thumbLabel="Tip Rate" [disabled]="disabled" max="1" step="0.1" [value]="tipRate" (input)="onTipRateInput($event.value)">
    Tip Rate
  </mat-slider>
</div>