.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
  max-width: 975px;
  margin: 0 auto;
  padding: 20px;
}

.field {
  width: 100%;
}

.back-link {
  margin-right: 20px;
}