<form [formGroup]="formGroup" class="new-user__base" (submit)="onSubmit()">
  <div>
    <mat-form-field class="new-user__field">
      <input matInput placeholder="name" formControlName="name">
      <mat-error *ngIf="formGroup.hasError('required', ['name'])">
        Please enter a valid name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="new-user__field">
      <input matInput [max]="maxDate" [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dob">
      <mat-hint>You must be older than 18</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year"></mat-datepicker>
      <mat-error *ngIf="formGroup.hasError('required', ['name'])">
        Please enter a date of birth
      </mat-error>
    </mat-form-field>
    <mat-form-field class="new-user__field">
      <input matInput placeholder="Country" [matAutocomplete]="auto" formControlName="country">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
          <span>{{country.name}}</span>
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="formGroup.controls.country.status === 'INVALID'">
        Please enter a country
      </mat-error>
    </mat-form-field>

    <mat-form-field class="new-user__field ">
      <input matInput placeholder="username " formControlName="username">
      <mat-error *ngIf="formGroup.hasError( 'required', [ 'username'])">
        Please enter a username
      </mat-error>
      <mat-error *ngIf="!formGroup.hasError( 'required', [ 'username']) && formGroup.hasError( 'pattern', [ 'username'])">
        Please do not use specials characters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="new-user__field">
      <input matInput [max]="maxDateHireDate" [matDatepicker]="hireDatePicker" placeholder="Hire Date" formControlName="hireDate">
      <mat-datepicker-toggle matSuffix [for]="hireDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #hireDatePicker startView="year"></mat-datepicker>
      <mat-error *ngIf="formGroup.hasError('required', ['hireDate'])">
        Please enter a hire date date
      </mat-error>
    </mat-form-field>

    <div>
      <mat-slide-toggle formControlName="status" color="primary" labelPosition="before">
        Status
      </mat-slide-toggle>
    </div>
  </div>
  <div>
    <app-job-area-selector formControlName="area"></app-job-area-selector>
    <mat-error *ngIf="formGroup.controls.area.status === 'INVALID' && !formGroup.controls.area.pristine">
      Please select a job title based on the area
    </mat-error>
  </div>
  <div>
    <a class="back-link" mat-stroked-button routerLink="/">Back</a>
    <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.status === 'INVALID'">Save</button>
  </div>
</form>